<h1>Welcome to Meadowlark Travel</h1>
<form class="form-horizontal" role="form" action="/post" method="POST">
<input type="hidden" name="_csrf" value="{{csrf}}">
<input type="text" name="nome"><input type="submit" value="clique aqui">
</form>
