    <!-- Messages -->
    <div id="fullscreen_bg" class="fullscreen_bg">
        <div class="container">
          <div class="alert alert-{{alert.type}} animated main-alert" ng-class="{'fadeInRight': alert.show, 'fadeOutLeft': !alert.show, 'alert-hidden': !alert.hasBeenShown}">
              <strong>{{alert.title}}</strong> {{alert.message}}
          </div>
        </div>
    </div>
    <!-- Login Form -->    
    <div class="container animated fadeInDown">
        <form class="form-signin" role="form" ng-submit="Login()">        
          <h1 class="form-signin-heading text-muted">Login</h1>
          <input type="text" class="form-control" placeholder="Usuario" ng-model="username" ng-required="true" autofocus>
          <input type="password" class="form-control" placeholder="Senha" ng-model="password" ng-required="true">        
          <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Login</button>
          <h6 class="form-signin-footer text-muted">Caso não possua uma conta, <a ui-sref="signin">clique aqui</a>.</h6>          
        </form>
    </div>