    <div >
      <!--============================-->
      <!--   Application NavBar       -->
      <!--============================-->
      <nav class="navbar navbar-inverse" role="navigation">
        <!--<div class="container-fluid">-->
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app">dev-nodejs</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a ui-sref="app" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref=".organizacao">Consulta MongoDB</a></li>
                  <li class="divider"></li>
                  <li><a ui-sref=".chat">Chat</a></li>
                  <li class="divider"></li>
                  <li ng-repeat="item in menu"><a href="#">{{item.menu}}</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="#"><span class="glyphicon glyphicon-align-justify" id="slide-submenu"></span></a></li>-->
              <li><a href="/user/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        <!--</div>--><!-- /.container-fluid -->
      </nav>
    </div>


  <div class="container-fluid">
  <div class="row">
    <!--
    <div class="col-sm-2 sidebar">
    <div class="list-group">
        <span href="#" class="list-group-item">
        <span class="glyphicon glyphicon-th-list sidebar-menu-glyphicon"></span>Submenu
        </span>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-folder-open sidebar-menu-glyphicon"></span>Menu</a>
        <a href="#" class="list-group-item" ng-repeat="item in menu"><span class="glyphicon glyphicon-folder-open sidebar-menu-glyphicon"></span>{{item.menu}}</a>
    </div>
    </div>
    -->
    <div class="col-sm-12">
    <!-- CONTENT -->
    <div ui-view></div>
    <!-- END CONTENT -->
    </div>
  </div>
</div>
<!--
    <script>
    $(function(){
      $('#slide-submenu').on('click',function() {
        $('.sidebar').is(":visible") ? $('.sidebar').fadeOut() : $('.sidebar').fadeIn();
      });
    })
    </script>
-->
